@import "style/common/index";
@import "style/desktop/index";
@import "style/mobile/index";



*{
  box-sizing:border-box;
  font-family: Lato, Arial, sans-serif;
}

body {
  background-color: #DF4F3A;
  font-size: 10px;
  width: 100vw;
  margin: 0;
  padding: 0;
}

canvas {
  touch-action: none;
  width: 100vw;
  height: 100vh;
}
html, body {

}


