// for index.tsx to import react
doctype html
html(lang='en')
    head
        title ShoutBox!
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.googleapis.com' crossorigin)
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap')
    body
        div#shoutbox
